/** Add css rules here for your application. */


h1 {
  font-size: 2em;
  font-weight: bold;
  font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #396A92;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
